<div class="list-group contacts-list">
  <a href="#" class="list-group-item contacts-list-item" 
    *ngFor="let contact of contacts" 
    [routerLink]="['/contact', contact.id]"
    [routerLinkActive]="'active'" >
    {{contact.name}}
    <a class="btn btn-default pull-right remove-button remove-contact-button"
      (click)="removeContact(contact.id)">
      <span class="glyphicon glyphicon-remove remove-contact-button-icon" aria-hidden="true">
      </span>
    </a>
  </a>
</div>
<div class="input-group">
    <input #nameInput type="text" maxlength="20" class="form-control" placeholder="New contact name" />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" 
        (click)="addNewContact(nameInput.value); nameInput.value = '';">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </span>
</div>  
