<div class="list-group contacts-list">
  <a href="#" class="list-group-item contacts-list-item" 
    *ngFor="let contact of contacts" 
    (click)="onSelect(contact)" 
    [routerLink]="['/contact', contact.id]" >
    {{contact.name}}
  </a>
</div>
<div class="input-group">
    <input #nameInput type="text" maxlength="20" class="form-control" placeholder="New contact name" />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" 
        (click)="addNewContact(nameInput.value); nameInput.value = '';">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </span>
  </div>  
