.page-content {
    padding-top: 20px;
}

.contacts-scroll-box {
    max-height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
}

.site-header {
    max-height: 100px;
    overflow: hidden;
}

.page-content {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}