<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="contacts-list-container">
                <div class="site-header">
                    <a href="#" [routerLink]="['/']"><h2 class="site-header-text">Contact book</h2></a>
                </div>
                <div class="contacts-scroll-box">
                    <app-contacts-list></app-contacts-list>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>