.remove-button {
    position: relative;
    bottom: 5px;
    height: 30px;
    width: 30px;
    left: 10px;
    padding: 6px 5px;
}

.remove-button span.glyphicon {
    top: 0;
}

.list-group-item {
    min-height: 42px;
}

.input-group input.form-control, .input-group .input-group-btn>.btn, .list-group-item.active {
    z-index: 0;
}